.services {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  font-family: "Ubuntu", sans-serif; }
  .services .service-items {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin: 5em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 850px) {
      .services .service-items {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 1em 0; } }
    .services .service-items .service-list {
      padding: 0;
      width: 20%; }
      @media screen and (max-width: 850px) {
        .services .service-items .service-list {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-transition: .3s;
          transition: .3s;
          margin: 2em 0; } }
      @media screen and (max-width: 650px) {
        .services .service-items .service-list {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      .services .service-items .service-list li {
        color: #b4b4b4;
        font-size: 18px;
        text-decoration: overline solid #b4b4b4;
        list-style: none;
        cursor: pointer;
        margin: 1em 0; }
        @media screen and (max-width: 850px) {
          .services .service-items .service-list li {
            margin: 0 .5em;
            -webkit-transition: .3s;
            transition: .3s; } }
        @media screen and (max-width: 650px) {
          .services .service-items .service-list li {
            margin: .5em 0;
            -webkit-transition: .3s;
            transition: .3s; } }
        .services .service-items .service-list li p {
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        .services .service-items .service-list li:hover p {
          -webkit-transition: 0.3s;
          transition: 0.3s;
          font-size: 24px;
          color: #b69b67;
          text-decoration: overline solid #b69b67; }
    .services .service-items .service-content {
      width: 80%;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      @media screen and (max-width: 850px) {
        .services .service-items .service-content {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    .services .service-items .opacity-off {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .services .service-items .content-off {
      display: none; }
    .services .service-items .service-text-toggled p {
      font-size: 24px;
      color: #b69b67;
      text-decoration: overline solid #b69b67; }
    .services .service-items .service-description {
      color: #b4b4b4;
      margin-top: 1em;
      width: 50%; }
      @media screen and (max-width: 850px) {
        .services .service-items .service-description {
          text-align: center;
          padding: 1em 0;
          margin: 0;
          width: auto; } }
    .services .service-items .service-image {
      position: relative;
      float: right;
      -webkit-transition: .3s;
      transition: .3s; }
      @media screen and (max-width: 850px) {
        .services .service-items .service-image {
          text-align: center;
          position: initial;
          padding: 2em 0;
          width: auto; } }
      @media screen and (max-width: 650px) {
        .services .service-items .service-image img {
          width: 250px; } }
